[include]
	path = ~/dotfiles/.gitconfig.default
[includeIf "gitdir:~/code/work/"]
	path = ~/.gitconfig.work
[includeIf "gitdir/i:~/workplace/"]
	path = ~/.gitconfig.work

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[push]
	default = simple
[alias]
	st = status
	l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
[init]
	templatedir = ~/dotfiles/.git_templates
	defaultBranch = main
[core]
	autocrlf = input
	excludesfile = ~/dotfiles/.gitignore_global
[credential]
	helper = !aws codecommit credential-helper $@
	UseHttpPath = true
[pull]
	ff = only
[diff "jupyternotebook"]
	command = git-nbdiffdriver diff
[merge "jupyternotebook"]
	driver = git-nbmergedriver merge %O %A %B %L %P
	name = jupyter notebook merge driver
[difftool "nbdime"]
	cmd = git-nbdifftool diff \"$LOCAL\" \"$REMOTE\" \"$BASE\"
[difftool]
	prompt = false
[mergetool "nbdime"]
	cmd = git-nbmergetool merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
[mergetool]
	prompt = false
