[user]
	name = Tulio Casagrande
	email = tuliocasagrande@gmail.com
	signingkey = 33D4D34C83C30FE7
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[push]
	default = simple
[alias]
	st = status
	l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
[init]
	templatedir = ~/dotfiles/.git_templates
	defaultBranch = main
[core]
	autocrlf = input
	excludesfile = ~/dotfiles/.gitignore_global
[credential]
	helper = !aws codecommit credential-helper $@
	UseHttpPath = true
[includeIf "gitdir:~/code/work/"]
	path = .gitconfig.work
[includeIf "gitdir:~/workplace/"]
	path = .gitconfig.work
[pull]
	ff = only
